common --enable_bzlmod
common --action_env=BAZEL_CXXOPTS="-std=c++17:-fstrict-aliasing:-Wall:-Wsuggest-override"
common --copt=-fdiagnostics-color=always
common --copt=-g --strip=never
# Without --force_pic, bazel compiles a lot of cc files twice, if they are used by PIC and non-PIC targets.
common --force_pic

# Allow us to run with --config=asan
common:asan --copt -fsanitize=address
common:asan --copt -DADDRESS_SANITIZER
common:asan --linkopt -fsanitize=address
