common --enable_bzlmod
build --action_env=BAZEL_CXXOPTS="-std=c++17:-fstrict-aliasing:-Wall:-Wsuggest-override"
build --copt=-fdiagnostics-color=always
run --copt=-fdiagnostics-color=always
test --copt=-fdiagnostics-color=always
# Without --force_pic, bazel compiles a lot of cc files twice, if they are used by PIC and non-PIC targets.
build --force_pic
run --force_pic
test --force_pic

# Allow us to run with --config=asan
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
