common --enable_bzlmod
common --copt=-fdiagnostics-color=always
common --copt=-g --strip=never
common --copt=-std=c++17
# Allow C++20 usage in tests.
common --per_file_copt=.*test.*@-std=c++20
common --copt=-fstrict-aliasing
#common --copt=-Wall
# Some of our dependencies have headers that cause this warning in our code. Also see
https://staticthinking.wordpress.com/2023/07/25/wsign-compare-is-garbage/.
common --copt=-Wno-sign-compare
# Reduces code size and build time a little, and prevents accidentally relying on these features.
common --copt=-fno-rtti
common --copt=-fno-exceptions

# Allow us to run with --config=asan
common:asan --copt -fsanitize=address
common:asan --copt -DADDRESS_SANITIZER
common:asan --linkopt -fsanitize=address

# Allow us to run with --config=asan
common:ubsan --copt -fsanitize=undefined
common:ubsan --copt -DUNDEFINED_BEHAVIOR_SANITIZER
common:ubsan --linkopt -fsanitize=undefined

# Disable all warnings in external code
common --per_file_copt=.*external/@-w
