name: ci
on:
  pull_request:
  push:
    tags:
    branches:
      - main

jobs:
  # We don't want to run clang-format as a presubmit requirement at this time,
  # but here's all that's needed if that changes in the future:
  #
  # check_clang_format:
  #   name: Check clang-format
  #   runs-on: ubuntu-20.04
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: DoozyX/clang-format-lint-action@v0.17
  #       with:
  #         source: '.'
  #         extensions: 'h,cc'
  #         clangFormatVersion: 17

  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          
      - name: Setup Cpp
        run: |
          docker build -f .github/setup-cpp-ubuntu-llvm.dockerfile -t setup-cpp .

      - name: Build and test
        run: bazel test --test_output=errors ...
        
      - name: Build and test with ASAN
        run: bazel test --config=asan --copt=-Os --test_output=errors ...

      - name: Shut down bazel
        run: bazel shutdown
